dj-database-url==0.4.1
Django==1.10.3
django-filer==1.2.5
django-mptt==0.8.6
django-polymorphic==0.8.1
django-stormpath==1.1.0
djangorestframework==3.5.3
easy-thumbnails==2.3
gunicorn==19.6.0
httpie==0.9.6
isodate==0.5.4
Markdown==2.6.7
oauthlib==1.0.3
Pillow==3.4.2
psycopg2==2.6.2
PyDispatcher==2.0.5
Pygments==2.1.3
PyJWT==1.4.2
python-dateutil==2.6.0
requests==2.11.1
requests-oauthlib==0.7.0
six==1.10.0
stormpath==2.4.5
Unidecode==0.4.19
virtualenv==15.0.3
whitenoise==3.2
